.Form {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 50%;
  position: sticky;
  top: 10px;
}

@media (max-width: 770px) {
  .Form {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
