.Footer {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.8rem;
}

.Copy {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.Copy img {
  max-height: 1.2rem;
}

.Container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.6rem;
}

.Container__Tech span {
  color: #5631d6;
  font-weight: 900;
}

.Container__Host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  gap: 6px;
  color: var(--grey);
}

.Container__Host p a {
  color: var(--medium-white);
  font-weight: 600;
  text-decoration: none;
}
