.TaskList {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20rem;
  flex-direction: column;
  align-self: center;
  gap: 0.5rem;
  & > p {
    font-size: 1.2rem;
    color: var(--grey);
    font-weight: 600;
  }
}
